 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Devices</h1>
  
</div>

 <div class="card shadow mb-4 mt-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Your Devices</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body overflow-auto" >
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Hospital</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @device.each do |device| %>
                <tr>
                  <td><%= device.code%></td>
                  <td><%=device.device_info.name %></td>
                  <td><%=current_user.hospital.name %></td>
                  <td><%= link_to "Edit",edit_device_path(device) %> | Show</td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <div class="digg_pagination float-end">
            <%= paginate @device %>
          </div>
        </div>
      </div>
    </div>